html {
    cursor: crosshair;
    scroll-behavior: smooth;
    --bg-color: white;
    --text-color: black;
    --color-section1: white;
    --color-section2: white;
}

html[theme='dark'] {
    --bg-color: #171c29;
    --text-color: white;
    --color-section1: #171c29;
    --color-section2: #171c29;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

a {
    user-select: none;
}

a:hover {
    cursor: crosshair;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#header {
    background-color: var(--color-section1);
    color: var(--text-color);
}

.name-container {
    margin: 200px auto;
    width: 620px;
    height: 150px;
    line-height: center;
    transition: .3s ease;
}

.name-container a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 130px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.name-container:hover {
    transform: scale(1.3);
}

.social-links-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.social-links-container li {
    display: inline-block;
}

.social-links-container li a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: var(--text-color);
    font-size: 28px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
}

.social-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--text-color);
    transition: width .3s;
}

.social-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.theme-switch-container {
    width: 65px;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    display: block;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    transition: .4s;
    border-radius: 34px;
}

.theme-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .theme-slider {
    background-color: white;
}

input:checked + .theme-slider:before {
    background-color: #171c29;
    transform: translateX(26px);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 500ms !important;
    transition-delay: 0 !important;
}

.scroll-down {
    height: 60px;
    width: 40px;
    border: 2px solid var(--text-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before, .scroll-down::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 50%;
    height: 15px;
    width: 15px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid var(--text-color);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}

#content {
    align-items: center;
    background-color: var(--color-section2);
}

#content a {
    color: var(--text-color);
    font-size: 100px;
}
